<!doctype html>
<html>

<head>
  <title>civictech.club - civic tech users in the Fediverse</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="site-header">
      <h1 class="title">Civic tech in the Fediverse</h1>
    </header>

    <main>
      {{ content}}
    </main>

    <footer>
      <p>Built by <a href="https://jordanh.net">Jordan</a>. Source code on <a href="https://github.com/JordanHatch/civictech.club">GitHub</a>.</p>
    </footer>
  </div>
</body>

</html>
