<!doctype html>
<html lang="en">

<head>
  <title>civictech.club - civic tech users in the Fediverse</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="wrapper">
    <header class="site-header">
      <h1 class="title">Civic tech in the Fediverse</h1>
    </header>

    <main>
      {{ content}}
    </main>

    <footer>
      <p>Built by <a href="https://jordanh.net" title="Website of Jordan Hatch">Jordan</a>. Source code on <a href="https://github.com/JordanHatch/civictech.club" title="Repository for civictech.club on GitHub">GitHub</a>.</p>
    </footer>
  </div>
</body>

</html>
